.pick_list_list {
    border: 5rem;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 1rem;
    padding: .5rem;
}

.pick_list_title {
    display: flex;
    justify-content: center;
    background-color: blue;
    margin: 2rem;
    padding: 1rem;
}

.pickList-li {
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    border: 20rem;
    justify-content: center;
    margin: .5rem;
    padding: .5rem
}

.pick_list-lis {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: .5rem;
    border: 1rem solid black;
    background-color: aliceblue;
}

.pick_lists {
    display: flex;
    flex-direction: column;
}

button {
    background-color: #f5e50b;
}

.create_button {
    background-color: blue;
    font-weight: bold;
}

