.navbar {
    background-color: rgb(98, 98, 202);
    margin: 2px;
    padding: 40px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}

.navbar__logo {
    max-height: 5rem;
}